@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-poiret-one;
  }
  h2 {
    @apply text-3xl font-suit;
  }
  input {
    @apply bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-100 rounded border;
  }
}

@layer components {
  .text-profile-twitter {
    @apply text-gray-300 dark:text-gray-500 font-light text-sm;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  @apply antialiased h-full font-suit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
